*.ui
*.pyc
*.ifd
*.gz
*.sc
*.exr
*.hip
*.hipnc
tests/img_seqs
etc/
database/
ssh_config/keys
ssh_config/network_deploy/ssh_known_hosts
ssh_config/network_deploy/all_ip
ssh_config/network_deploy/test_ip